#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Slides
Exec=/opt/google/chrome/google-chrome "--profile-directory=Profile 2" --app-id=aapocclcgogkmnckokdopfmhonfmgoek
Icon=chrome-aapocclcgogkmnckokdopfmhonfmgoek-Profile_2
NoDisplay=true
StartupWMClass=crx_aapocclcgogkmnckokdopfmhonfmgoek
OnlyShowIn=Old;
